<div class='login_wrap'>
  <div class='login_window'>
    <div class='login_title'>Вход</div>
    <form id="login_form">
      {{{login}}}
      {{{password}}}

      <div class='text__field buttons_group'>
        {{{button}}}
      </div>

    </form>
  </div>
</div>