---
registration:
- class: ''
  type: text
  name: mail
  id: mail
  placeholder: 'example@mail.ru'
  value: '1'
  fail: ''
  label: Почта
- class: ''
  type: text
  name: login
  id: login
  placeholder: ''
  value: '2'
  fail: ''
  label: Логин
- class: ''
  type: text
  name: user_name
  id: user_name
  placeholder: ''
  value: '3'
  fail: ''
  label: Имя
- class: ''
  type: text
  name: user_name
  id: user_name
  placeholder: ''
  value: '3'
  fail: ''
  label: Фамилия
- class: ''
  type: text
  name: user_family
  id: user_family
  placeholder: ''
  value: '3'
  fail: ''
  label: Телефон
- class: ''
  type: password
  name: user_pass1
  id: user_pass1
  placeholder: ''
  value: '3'
  fail: Неверный пароль
  label: Пароль
- class: ''
  type: password
  name: user_pass2
  id: user_pass2
  placeholder: ''
  value: '3'
  fail: Пароли не совпадают
  label: Пароль (еще раз)
contact_list:
- user_name: Андрей
  last_message: Изображение
  user_id: 1
  user_avatar: ''
  time_last_message: '10:34'
  unread_messagges: '2'
- user_name: Илья
  last_message: Друзья, у меня для вас особенный выпуск новостей!...
  user_id: 2
  user_avatar: ''
  time_last_message: '10:34'
  unread_messagges: '2'
- user_name: Илья
  last_message: Друзья, у меня для вас особенный выпуск новостей!...
  user_id: 2
  user_avatar: ''
  time_last_message: '10:34'
  unread_messagges: '2'
- user_name: Илья
  last_message: Друзья, у меня для вас особенный выпуск новостей!...
  user_id: 2
  user_avatar: ''
  time_last_message: '10:34'
  unread_messagges: '2'
- user_name: Илья
  last_message: Друзья, у меня для вас особенный выпуск новостей!...
  user_id: 2
  user_avatar: ''
  time_last_message: '10:34'
  unread_messagges: '2'
- user_name: Илья
  last_message: Друзья, у меня для вас особенный выпуск новостей!...
  user_id: 2
  user_avatar: ''
  time_last_message: '10:34'
  unread_messagges: '2'
- user_name: Илья
  last_message: Друзья, у меня для вас особенный выпуск новостей!...
  user_id: 2
  user_avatar: ''
  time_last_message: '10:34'
  unread_messagges: '2'
profile:
- _id: 636b690ecece9e21f97a035f
  index: 0
  avatar: "/static/img/ava.png"
  first_name: Silva
  secons_name: Morris
  email: silvamorris@steeltab.com
  login: Cabrera
  display_name: Chupakabra
  phone: "+7(909)9673030"
---

<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title>Chat</title>
  <link rel='stylesheet' href='styles.scss' />
  <script src="script.js" defer></script>
</head>

<body>
  <main>
    <nav class="navigation_menu">
      <button class="btn btn__secondary btn_login " onclick="switchMenu('_login')">Логин</button>
      <button class="btn btn__secondary btn_register" onclick="switchMenu('_register')">Регистрация</button>
      <button class="btn_chat btn btn__secondary" onclick="switchMenu('_chat')">Чат</button>
      <button class="btn_profile btn btn__secondary" onclick="switchMenu('_profile')">Профиль</button>
    </nav>

    <div class="nav_login on">{{>login}}</div>
    <div class="nav_register off"> {{>register}}</div>
    <div class="nav_chat off"> {{>chat}}</div>
    <div class="nav_profile off">{{>profile}}</div>
  </main>


</body>

</html>