<div class='profile__data_item'>
        <span class='profile__data_label'>Почта</span>
        <span class='profile__data'>
                <input class='profile__data_input' type='text' name='email' id='email' placeholder='Email'
                        value={{email}} />
        </span>
</div>
<div class="devider"></div>