<div class="chat_wrapper">
    <div class="all_contacts">

        <div class="search_field">
            <form id="chat_search_form">
                {{>input class="search" type="text" name="chat_search_input" id="search_input" }}
                <span class="input_icon">
                    <img src="/static/icons/search_icon.svg" alt="search" />
                    Поиск
                </span>
            </form>

        </div>

        {{#each data.contact_list}}
        <div class="devider"></div>
        <div class="contact">
            <div class="avatar"></div>
            <div class="user_info">
                <div class="user_name">{{user_name}}</div>
                <div class="last_message">{{last_message}}</div>
            </div>
            <div class="message_info">
                <div class="time_info">{{time_last_message}}</div>
                <div class="unread_count">{{unread_messagges}}</div>
            </div>

        </div>
        {{/each}}
    </div>
    <div class="chat">
        <div class="chat_header">
            <div class="contact_header">
                <div class="avatar"></div>
                <div class="user_info">
                    <div class="user_name">Вадим</div>
                </div>
            </div>
            <div class="menu_header">
                <button class="btn header_menu__btn">
                    <img src="/static/icons/more_vert.svg" alt="more" />
                </button>
            </div>
        </div>
        <div class="chat_messages">
            <div class="message">
                Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент
                попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты
                летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны
            </div>
            <div class="message">
                Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент
                попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты
                летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны
            </div>
        </div>
        <div class="devider"></div>
        <form id="chat_send_message_form">
            <div class="chat_input">
                <div class="attach_file_wrap">
                    <label for="attach_file_send" class="attach_file_input__custom">
                        <img class='attach_file_send_icon' src="/static/icons/attach_file.svg" alt="attach file">
                    </label>
                    <input class="attach_file_input__hidden" id="attach_file_send" type="file">
                </div>

                <div class="input_message_wrap">
                    {{>input class="input_message" type="text" id="input_message" placeholder="Сообщение"}}
                </div>

                <button class="send_message_btn">
                    <img src="/static/icons/send.svg" alt="send message">
                </button>
            </div>
        </form>
    </div>
</div>