<form id={{form_id}}>
    <div class="chat_input">
        <div class="attach_file">
            <img src="/static/icons/attach_file.svg" alt="attach file">
        </div>
        <div class="input_message_wrap">
            {{>input class="input_message" type="text" id="input_message" placeholder="Сообщение"}}
        </div>
        <div class="send_mesage">
            <button class="send_message_btn">
                <img src="/static/icons/send.svg" alt="send message">
            </button>
        </div>
    </div>
</form>